<div id="myDIV" class="header">
  <h2>My To Do List</h2>
  <input type="text" id="myInput" placeholder="Title..." #itemTitle>
  <span (click)="onAdd(itemTitle)" class="addBtn">Add</span>
</div>

<ul id="myUL">
  <li class="list-group-item" *ngFor="let item of tasks">
    <span class="hover-cursor" [class.text-success]="item.IsComplete" (click)="alterCheck(item.Id,item.IsComplete)">
      <i class="fa fa-lg" [ngClass]="item.IsComplete?'fa-check-circle-o':'fa-circle-thin'"></i>
    </span>
    <span (click)="alterCheck(item.Id,item.IsComplete)" [ngClass]="{'textchecked' : item.IsComplete}">
      {{item.Title}}
    </span>
    <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.Id)">
      <i class="fa fa-trash-o fa-lg"></i>
    </span>
  </li>
</ul>